/* JavaFX CSS 
Yang Zhang (Lucas) */

#drawPensil
{
    -fx-background-image:url("../Images/pencil.png"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#drawRectangle
{
    -fx-background-image:url("../Images/rectangle.png"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#drawCircle
{
    -fx-background-image:url("../Images/circle.png"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}